div a{
    text-decoration: none;
}

.non_ordonne{
    list-style-type: square;
}

.ordonne{
    list-style-type: upper-latin;
}

ol{
    background: #ff9999;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }

  ol a{
    color: darkred;
  }

  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }
  ul a {
    color: darkblue;
  }

  ul {
    background: #3399ff;
    padding: 20px;
  }

  .test{
    background-color: #ffff99;
    padding: 20px;
  }

  .test li{
    background: #ffcc99;
    color: #ff8000;
    margin: 5px;
    list-style-type: none;
  }

  .test a{
    color: #b35900;
  }

  .r1{
    color:darkblue;
 } 
  
 .r2{
    color: darkred;
 } 

 .r3{
    color: #b35900;
 } 